.GridBase {
    max-width: 72rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: var(--spacing-group);
    padding-bottom: var(--spacing-group);
    background-color: var(--color-default-background);
}

.Image {
    width: 100%;
    object-fit: cover;
    border-radius: var(--size-border-radius);

    & + p {
        opacity: 0.75;
        text-align: center;
        margin-top: var(--spacing-paragraph);
    }
}

.ShrinkOnMD {
    @media(--larger-than-md) { width: 85%; }
}