---
import type { DataEntryMap } from "astro:content";

import ContentSection from '@/components/layouts/Section.Content.astro'
import Item from '@/components/layouts/writing/Item.astro';

import Divider from "@/components/ui/Divider.astro";
import Typography from "@/components/ui/Typography.astro";
import SlideUpDiv from "@/components/ui/SlideUpDiv.astro";

import { themeVars } from '@/lib/theme';
import type { RoleType } from "@/lib/utils/constants";

type ContentType = DataEntryMap["blog" | "note"][string];

interface Props {
    title: string,
    writings: ContentType[];
}
const { title, writings } = Astro.props;
---

<ContentSection>
    <Typography variant='h5' color="secondary" slot={"header"}>
        {title}
    </Typography>
    <div style={{ 
        gridColumn: "span 3 / span 3", display: "flex", 
        gap: themeVars.spacing.paragraph, flexDirection:"column"
    }}>
        {
            writings.map(item => {
                const role = item.id.split("/").at(-2) as RoleType;
                return <>
                    <Item href={"/" + item.id} data={{
                        date: item.data['created-date'], 
                        role: role,
                        title: item.data.title,
                        tags: item.data.tags,
                        description: item.collection == "blog" ? item.data.description : undefined,
                    }}/>
                    <SlideUpDiv><Divider/></SlideUpDiv>
                </>
            }
            )
        }
        <slot/>
    </div>
</ContentSection>