svg.writingGraph {
    width: 100%;
    height: 100vh;

    * {
        transition: 
            stroke-width var(--transition-short) ease,
            filter var(--transition-short) ease,
            opacity var(--transition-short) ease;
    }

    a {
        text-decoration: none;

        &[data-type="blog"] {
            circle {
                cursor: pointer;
                stroke-width: 3;
                stroke: rgb(var(--node-color));
                fill: rgb(var(--color-primary-background));
            }

            &[data-selected="true"] {
                circle {
                    stroke-width: 6;
                    filter: brightness(1.5);
                }
            }
        }

        &[data-type="note"] {
            circle {
                cursor: pointer;
                stroke-width: 0;
                fill: rgb(var(--node-color));
                stroke: rgb(var(--node-color));
            }

            &[data-selected="true"] {
                circle {
                    stroke-width: 3;
                    filter: brightness(1.5);
                }
            }
        }
    }

    line {
        stroke: rgb(var(--color-primary-foreground));
        stroke-opacity: 0.2;
        stroke-width: 1;
        
        &[data-selected="true"] {
            stroke-opacity: 0.5;
            stroke-width: 2;
        }
    }

    text {
        text-anchor: middle;
        opacity: 0;
        pointer-events: none;

        &.label {
            fill: rgb(var(--color-primary-foreground));
            font-family: var(--typography-body1-fontFamily);
            font-size: var(--typography-body1-fontSize);
            font-weight: var(--typography-body1-fontWeight);
        }
        &.description {
            fill: rgb(var(--color-secondary-foreground));
            font-family: var(--typography-body2-fontFamily);
            font-size: var(--typography-body2-fontSize);
            font-weight: var(--typography-body2-fontWeight);
            font-style: italic;
        }

        &[data-selected="true"] {
            opacity: 1;
        }
    }
}