<div class:list={["LayoutContainer", Astro.props.class]} style={Astro.props.style}>
    <div class:list={["ContentContainer"]}>
        <slot name="content"/>
    </div>
    <div class:list={["SidePanelContainer"]}>
        <slot name="sidePanel"/>
    </div>
</div>

<style>
.LayoutContainer {
    display: grid;
    position: relative;
    align-items: start;
    justify-items: start;
    gap: var(--spacing-component);
    grid-template-columns: repeat(7, minmax(0, 1fr));

    max-width: var(--breakpoint-md);
    width: 100%;
    margin: auto;
    box-sizing: border-box;

    @media(--smaller-than-md) {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .ContentContainer {
        width: 100%;
        grid-column: span 5 / span 5;
        position: relative;
    }

    .SidePanelContainer {
        width: 100%;
        grid-column: span 2 / span 2;
        position: sticky;
        top: calc(var(--size-header-height) + var(--spacing-component));
        max-height: calc(100vh - var(--size-header-height) - var(--spacing-component));

        display: flex;
        flex-direction: column;

        @media(--smaller-than-md) {
            display: none;
        }
    }
}
</style>