.TabsRoot {
    background-color: rgb(var(--color-default-foreground) / 5%);
    border-radius: var(--size-border-radius);
    position: relative;
    border: 1px solid rgb(var(--color-default-foreground));
    padding: var(--spacing-paragraph);
}

.TabsList {
    overflow-x: scroll;
    border-bottom: 1px solid rgb(var(--color-default-foreground) / 50%);
    margin-bottom: var(--spacing-paragraph);
    padding-bottom: .25rem;

    &::-webkit-scrollbar {
        display: none
    }

    &>div {
        display: inline-flex;
        flex-direction: row;
        gap: var(--spacing-paragraph);
    }
}

.TabsTriggerText {
    color: rgb(var(--color-default-foreground) / 50%);
    transition: color var(--transition-short);
    user-select: none;

    &:hover {
        color: rgb(var(--color-default-foreground) / 75%);
    }

    &[data-state='active'] {
        color: rgb(var(--color-default-foreground));
    }
}

.TabsContent {
    position: relative;
}

.IconContainer {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 0;
    border-radius: var(--size-border-radius);
    border: 1px solid rgb(var(--color-default-foreground));
    background-color: rgb(var(--color-default-foreground) / 5%);
    backdrop-filter: blur(1rem);
    padding: .3rem;
    margin: 0;

    transition: all var(--transition-short);

    &:hover {
        background-color: rgb(var(--color-default-foreground) / 15%);
    }

    &:active {
        background-color: rgb(var(--color-default-foreground) / 30%);
    }
}

.CodeContainer {
    overflow-x: scroll;
    display: block;

    font-family: var(--typographies-code-fontFamily);
    font-size: var(--typographies-code-fontSize);
    font-weight: var(--typographies-code-fontWeight);
    line-height: var(--typographies-code-lineHeight);

    & span {
        min-height: var(--typographies-code-fontSize);
    }

    &::-webkit-scrollbar {
        height: .25rem;
        margin: .1rem
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(var(--color-default-foreground)/ 20%);
        border-radius: .25rem;
    }

    &::-webkit-scrollbar-button {
        background-color: transparent;
        width: 0;
    }
}