.InlineCodeBlock {
    background-color: rgb(var(--color-default-foreground) / 10%);
    border-Radius: var(--size-border-radius);
    border: .5px rgb(var(--color-default-foreground) / 35%) solid;
    padding-left: .5rem;
    padding-right: .5rem;
}