a {
    color: inherit;
    text-decoration: inherit;
}

menu,
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote,
pre {
    margin: 0
}

code {
    font-family: unset;
}

p,h1,h2,h3,h4,h5,h6,span {
    margin: 0;
    padding: 0;
}


body {
    --spacing-block: 12rem;
    --spacing-group: 4rem;
    --spacing-component: 2.5rem;
    --spacing-paragraph: 1rem;
    
    --breakpoint-xs: 450px;
    --breakpoint-sm: 720px;
    --breakpoint-md: 1080px;
    --breakpoint-lg: 1440px;
    
    --typography-body1-fontFamily: "Geist Variable";
    --typography-body1-fontWeight: 400;
    --typography-body1-fontSize: 1rem;
    --typography-body1-lineHeight: 1.5;
    --typography-body2-fontFamily: "Geist Variable";
    --typography-body2-fontWeight: 400;
    --typography-body2-fontSize: 0.875rem;
    --typography-body2-lineHeight: 1.5;
    --typography-button-fontFamily: "Geist Variable";
    --typography-button-fontWeight: 600;
    --typography-button-fontSize: 0.875rem;
    --typography-button-lineHeight: 1.6;
    --typography-code-fontFamily: "Red Hat Mono Variable";
    --typography-code-fontWeight: 400;
    --typography-code-fontSize: 0.875rem;
    --typography-code-lineHeight: 1.5;
    --typography-h1-fontFamily: "Geist Variable";
    --typography-h1-fontWeight: 500;
    --typography-h1-fontSize: 4.5rem;
    --typography-h1-lineHeight: 1.25;
    --typography-h2-fontFamily: "Geist Variable";
    --typography-h2-fontWeight: 500;
    --typography-h2-fontSize: 3.5rem;
    --typography-h2-lineHeight: 1.25;
    --typography-h3-fontFamily: "Geist Variable";
    --typography-h3-fontWeight: 500;
    --typography-h3-fontSize: 2.75rem;
    --typography-h3-lineHeight: 1.25;
    --typography-h4-fontFamily: "Geist Variable";
    --typography-h4-fontWeight: 500;
    --typography-h4-fontSize: 2.25rem;
    --typography-h4-lineHeight: 1.25;
    --typography-h5-fontFamily: "Geist Variable";
    --typography-h5-fontWeight: 500;
    --typography-h5-fontSize: 1.75rem;
    --typography-h5-lineHeight: 1.4;
    --typography-h6-fontFamily: "Geist Variable";
    --typography-h6-fontWeight: 500;
    --typography-h6-fontSize: 1.25rem;
    --typography-h6-lineHeight: 1.6;
    
    --transition-short: .3s;
    --transition-long: .9s;
    
    --size-border-radius: .25rem;
    --size-header-height: 4.5rem;
    @media(--larger-than-xs) {
        --size-header-height: 6rem;
    }
}

body {
    --color-primary-background: 248 249 250;
    --color-secondary-background: 180 180 180;
    --color-primary-foreground: 33 37 41;
    --color-secondary-foreground: 75 75 75;
    --color-accent-foreground: 255 140 66;
    --color-accent-background: 248 249 250;
    
    --border: 1px solid rgb(var(--color-primary-foreground) / 0.5);
    --border-secondary: 1px solid rgb(var(--color-primary-foreground) / 0.25);
}

body[data-theme='dark'] {
    --color-primary-background: 0 0 0;
    --color-secondary-background: 75 75 75;
    --color-primary-foreground: 255 255 255;
    --color-secondary-foreground: 180 180 180;
    --color-accent-foreground: 255 140 66;
    --color-accent-background: 0 0 0;

    --border: 1px solid rgb(var(--color-primary-foreground));
    --border-secondary: 1px solid rgb(var(--color-primary-foreground) / 0.5);
}

@custom-media --smaller-than-xs (max-width:450px);
@custom-media --larger-than-xs (min-width:450px);
@custom-media --smaller-than-sm (max-width:720px);
@custom-media --larger-than-sm (min-width:720px);
@custom-media --smaller-than-md (max-width:1080px);
@custom-media --larger-than-md (min-width:1080px);
@custom-media --smaller-than-lg (max-width:1440px);
@custom-media --larger-than-lg (min-width:1440px);