.ContentContainer {
    position: sticky;
    top: var(--size-header-height);
    padding-bottom: var(--spacing-paragraph);
    grid-column: "span 1 / span 1"
}

.ContentGrid {
    padding-bottom: var(--spacing-component);
    padding-top: var(--spacing-component);
}