.ShowOnSM {
    display: block;
    @media(--smaller-than-sm) { display: none; }
}

.NoShowOnSM {
    display: block;
    @media(--larger-than-sm) { display: none; }
}

.TitleContainer {
    padding-bottom: var(--spacing-paragraph);
    padding-top: var(--spacing-block);
}
