---
import "@/styles/global.css";
import '@fontsource-variable/red-hat-mono';
import '@fontsource-variable/geist';

import BaseHead from "@/components/layouts/BaseHead.astro";
import Footer from "@/components/layouts/Footer.astro";
import Header from "@/components/layouts/Header.astro";

interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title, description, image } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <script is:inline>
      const theme = localStorage.getItem("theme") || "dark";
      document.body.setAttribute("data-theme", theme);
    </script>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  main {
    min-height: 100vh;
    box-sizing: border-box;

    isolation: isolate;
  }

  body {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    overflow-x: visible;
    position: relative;
    background-color: rgb(var(--color-primary-background));
    color: rgb(var(--color-primary-foreground));
  }

  html {
    scroll-behavior: smooth;
    :target {
      scroll-margin-top: calc(var(--size-header-height) + var(--spacing-group));
    }
  }
</style>
