@tailwind base;
@tailwind components;
@tailwind utilities;

body.black {
  --color-background: #000000;
  --color-background-dim: #303030;
  --color-background-dimmer: #606060;
  --color-foreground: #181818;
  --color-foreground-dim: #484848;
  --color-foreground-dimmer: #787878;
  --color-text-primary: #ffffff;
  --color-text-primary-dim: #cfcfcf;
  --color-text-primary-dimmer: #9f9f9f;
  --color-text-secondary: #d8d8d8;
  --color-text-secondary-dim: #a8a8a8;
  --color-text-secondary-dimmer: #787878;
}

body {
  --color-background: #ffffff;
  --color-background-dim: #cfcfcf;
  --color-background-dimmer: #9f9f9f;
  --color-foreground: #d8d8d8;
  --color-foreground-dim: #a8a8a8;
  --color-foreground-dimmer: #787878;
  --color-text-primary: #000000;
  --color-text-primary-dim: #303030;
  --color-text-primary-dimmer: #606060;
  --color-text-secondary: #181818;
  --color-text-secondary-dim: #484848;
  --color-text-secondary-dimmer: #787878;

  --color-green: #5EBE73;
  --color-green-dim: #26392D;
  --color-green-dimmer: #122616;
  --color-green-contrast: #ffffff;
  --color-yellow: #EBEF62;
  --color-yellow-dim: #434326;
  --color-yellow-dimmer: #2E2E11;
  --color-yellow-contrast: #ffffff;
  --color-purple: #DA6CFB;
  --color-purple-dim: #402A48;
  --color-purple-dimmer: #2B1634;
  --color-purple-contrast: #ffffff;
  --color-orange: #F65E2B;
  --color-orange-dim: #472619;
  --color-orange-dimmer: #331205;
  --color-orange-contrast: #ffffff;
}
