@tailwind base;
@tailwind components;
@tailwind utilities;

body.black {
  --color-background: #000000;
  --color-foreground: #181818;
  --color-text-primary: #ffffff;
  --color-text-secondary: #d8d8d8;
  --color-text-primary-contrast: #000000;
  --color-text-secondary-contrast: #181818;
}

body {
  --color-background: #ffffff;
  --color-foreground: #d8d8d8;
  --color-text-primary: #ffffff;
  --color-text-secondary: #d8d8d8;
  --color-text-primary-contrast: #000000;
  --color-text-secondary-contrast: #181818;

  --color-green: #26392D;
  --color-green-light: #5EBE73;
  --color-green-dark: #122616;
  --color-yellow: #434326;
  --color-yellow-light: #EBEF62;
  --color-yellow-dark: #2E2E11;
  --color-purple: #402A48;
  --color-purple-light: #DA6CFB;
  --color-purple-dark: #2B1634;
  --color-orange: #472619;
  --color-orange-light: #F65E2B;
  --color-orange-dark: #331205;
}
