@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    --color-background: 255 255 255;
    --color-foreground: 0 0 0;

    --color-panel: 215 215 215;
    --color-panel-foreground: 0 0 0;

    --color-shade-neutral: 128 128 128;
    --color-shade-fade: 255 255 255;
    --color-shade-contrast: 0 0 0;

    /* --color-nebular: rgb(94 190 115); */
    --color-nebular: 94 190 115;
    --color-nebular-foreground: 255 255 255;
    /* --color-star: rgb(235 239 98); */
    --color-star: 235 239 98;
    --color-star-foreground: 255 255 255;
    /* --color-galaxy: rgb(218 108 251); */
    --color-galaxy: 218 108 251;
    --color-galaxy-foreground: 255 255 255;
    /* --color-solar: rgb(246 94 43); */
    --color-solar: 246 94 43;
    --color-solar-foreground: 255 255 255;
  }

  body.black {
    --color-background: 0 0 0;
    --color-foreground: 255 255 255;
    --color-panel: 45 45 45;
    --color-panel-foreground: 255 255 255;

    --color-shade-fade: 0 0 0;
    --color-shade-contrast: 255 255 255;

    --color-nebular-foreground: 0 0 0;
    --color-star-foreground: 0 0 0;
    --color-galaxy-foreground: 0 0 0;
    --color-solar-foreground: 0 0 0;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}


@keyframes slide-up {
  0% {
    transform: translateY(10rem);
    opacity: 0
  }

  100% {
    transform: none;
    opacity: 1;
  }
}