@keyframes icon-scroll-down {
    0% {
        opacity: 0;
        transform: translateY(-30%);
    }

    50% {
        opacity: 1;
        transform: none;
    }

    100% {
        opacity: 0;
        transform: translateY(30%);
    }
}