html {
    --color-default-background: 255 255 255;
    --color-default-foreground: 0 0 0;
    --color-shade-background: 255 255 255;
    --color-shade-foreground: 0 0 0;
}

html.theme-dark {
    --color-default-background: 0 0 0;
    --color-default-foreground: 255 255 255;
    --color-shade-background: 0 0 0;
    --color-shade-foreground: 255 255 255;
}

html {
    --color-nebular-background: 94 190 115;
    --color-nebular-foreground: 255 255 255;

    --spacing-block: 12rem;
    --spacing-group: 4rem;
    --spacing-component: 2.5rem;
    --spacing-paragraph: 1rem;

    --breakpoint-xs: 450px;
    --breakpoint-sm: 720px;
    --breakpoint-md: 1080px;
    --breakpoint-lg: 1440px;

    --typography-body1-fontFamily: var(--font-sans);
    --typography-body1-fontWeight: 400;
    --typography-body1-fontSize: 1rem;
    --typography-body1-lineHeight: 1.5;
    --typography-body2-fontFamily: var(--font-sans);
    --typography-body2-fontWeight: 400;
    --typography-body2-fontSize: 0.875rem;
    --typography-body2-lineHeight: 1.5;
    --typography-button-fontFamily: var(--font-sans);
    --typography-button-fontWeight: 700;
    --typography-button-fontSize: 0.875rem;
    --typography-button-lineHeight: 1.6;
    --typography-h1-fontFamily: var(--font-sans);
    --typography-h1-fontWeight: 500;
    --typography-h1-fontSize: 6rem;
    --typography-h1-lineHeight: 1.25;
    --typography-h2-fontFamily: var(--font-sans);
    --typography-h2-fontWeight: 500;
    --typography-h2-fontSize: 3.75rem;
    --typography-h2-lineHeight: 1.25;
    --typography-h3-fontFamily: var(--font-sans);
    --typography-h3-fontWeight: 500;
    --typography-h3-fontSize: 3rem;
    --typography-h3-lineHeight: 1.25;
    --typography-h4-fontFamily: var(--font-sans);
    --typography-h4-fontWeight: 500;
    --typography-h4-fontSize: 2.25rem;
    --typography-h4-lineHeight: 1.25;
    --typography-h5-fontFamily: var(--font-sans);
    --typography-h5-fontWeight: 500;
    --typography-h5-fontSize: 1.75rem;
    --typography-h5-lineHeight: 1.4;
    --typography-h6-fontFamily: var(--font-sans);
    --typography-h6-fontWeight: 500;
    --typography-h6-fontSize: 1.25rem;
    --typography-h6-lineHeight: 1.6;

    --transition-short: .3s;
    --transition-long: .9s;

    --size-header-height: 6rem;
    --size-border-radius: .25rem;
}