---
import BaseLayout from '@/components/layouts/Layout.Base.astro';

import TitleSection from '@/components/layouts/Section.Title.astro'
import ProjectCard from '@/components/layouts/project/Card.astro';

import Typography from '@/components/ui/Typography.astro';
import CardContainer from '@/components/ui/Card.Container.astro';

import { SITE_DESCRIPTION, SITE_TITLE } from '@/lib/utils/constants';
import { themeVars } from '@/lib/theme';
import Section from '@/components/ui/Section.astro';
import Divider from '@/components/ui/Divider.astro';
import { getCollection } from 'astro:content';

const devProjects = await getCollection("devProject");
---
<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <TitleSection>
      <Typography variant='h3' as="h1">Projects by a Developer</Typography>
    </TitleSection>
    <Section style={{backgroundColor: `rgb(${themeVars.color.primary.background})`}}>
      <Divider />
      <CardContainer columns={2}>
        {
          devProjects.map(proj => (
            <ProjectCard project={proj}/>
          ))
        }
      </CardContainer>
    </Section>
</BaseLayout>
