---
import { type DataEntryMap } from "astro:content";
import SlideUpDiv from "@/components/ui/SlideUpDiv.astro";
import Typography from "@/components/ui/Typography.astro";
type ProjectType = DataEntryMap["archProject" | "devProject"]["string"]

interface Props {
    project: ProjectType
}
const { project } = Astro.props;
---
<a href={
    project.collection === "archProject" ? `/project/by/architect/${project.id}` : project.data.externalLink
} 
    class:list={["ProjectCardWrapper"]}>
    <SlideUpDiv class:list={["ProjectCard"]}>
        <img src={project.data.cover.url} alt={project.data.cover.alt} />
        <div class:list={["CardInformation"]}>
            <Typography variant="h3">{project.data.title.toUpperCase()}</Typography>
            <Typography variant="body1" color="secondary">{project.data.tags.join(" · ")}</Typography>
            { 
                <Typography variant="h6" color="secondary">
                    {project.collection === "archProject" ? project.data.subTitle : project.data.description}
                </Typography>
            }
        </div>
    </SlideUpDiv>
</a>


<style>
.ProjectCardWrapper {
    width: 100%;
    height: 100%;
    
    grid-column: span var(--card-columns);
    grid-row: span var(--card-rows);
}

.ProjectCard {
    aspect-ratio: 4/3;

    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: .5px rgb(var(--color-primary-foreground) / .25) solid;
    border-radius: var(--size-border-radius);
    box-sizing: border-box;

    .CardInformation { 
        position: absolute;
        inset: 0;
        background-color: rgb(var(--color-primary-background) / 75%);
        color: rgb(var(--color-primary-foreground));
        padding: var(--spacing-component);
        display: flex;
        flex-direction: column;
        justify-content: center;

        transition: opacity var(--transition-short);
        
        opacity: 0;
    }
    &:hover {
        .CardInformation { opacity: 1; }
    }
    
    
    img {
        position: absolute;
        object-fit: cover;
        height: 100%;
        width: 100%;
        transition: transform var(--transition-short) ease-in;
    }

    &:hover {
        img {
            transform: scaleX(105%) scaleY(105%);
        }
    }

    h3,
    h6,
    p { text-align: center }

    h3 {
        padding-bottom: .75rem;
    }
}

</style>