.Markdown {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-paragraph);

    img {
        width: 100%;
        object-fit: cover;
        border-radius: var(--size-border-radius);
    }

    ol,
    ul {
        font-family: var(--typography-body1-fontFamily);
        font-size: var(--typography-body1-fontSize);
        font-weight: var(--typography-body1-fontWeight);
        line-height: var(--typography-body1-lineHeight);
        padding-left: 1.75rem;
    }

    ol {
        list-style-type: decimal;
    }

    ul {
        list-style-type: disc;
    }

    strong {
        color: rgb(var(--color-nebular-foreground));
    }
    
    a {
        color: rgb(var(--color-nebular-foreground));
        text-decoration-line: underline;
        transition: opacity 0.3s;
        &:hover {
            opacity: 0.75;
        }
    }

    p {
        color: rgb(var(--color-default-foreground));
        font-family: var(--typography-body1-fontFamily);
        font-weight: var(--typography-body1-fontWeight);
        font-size: var(--typography-body1-fontSize);
        line-height: var(--typography-body1-lineHeight);
    }

    h1,
    h2{
        color: rgb(var(--color-default-foreground));
        font-family: var(--typography-h4-fontFamily);
        font-weight: var(--typography-h4-fontWeight);
        font-size: var(--typography-h4-fontSize);
        line-height: var(--typography-h4-lineHeight);
    }

    h3,
    h4,
    h5,
    h6 {
        color: rgb(var(--color-default-foreground));
        font-family: var(--typography-h5-fontFamily);
        font-weight: var(--typography-h5-fontWeight);
        font-size: var(--typography-h5-fontSize);
        line-height: var(--typography-h5-lineHeight);    }

    p {
        mjx-container:only-child {
            display: block;
            width: 100%;
            text-align: center;
        }
    }

    blockquote {
        border-left: 4px solid rgb(var(--color-default-foreground) / 0.25);
        padding-left: var(--spacing-component);
        padding-top: var(--spacing-paragraph);
        margin-bottom: var(--spacing-paragraph);
        font-style: italic;
    }
}
