.ButtonContainer {
    border-radius: var(--size-border-radius);

    font-family: var(--typography-button-fontFamily);
    font-size: var(--typography-button-fontSize);
    font-weight: var(--typography-button-fontWeight);
    line-height: var(--typography-button-lineHeight);
    position: relative;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin: 0;

    color: rgb(var(--button-text-color));
    background-color: rgb(var(--button-background-color));

    .ButtonMask {
        display: block;
        position: absolute;
        inset: 0;
        pointer-events: none;
        background-color: transparent;
        transition: background-color var(--transition-short);
    }

    &:hover {
        .ButtonMask {
            background-color: rgb(var(--button-mask-color) / .2);
        }
    }

    &:active {
        .ButtonMask {
            background-color: rgb(var(--button-mask-color) / .4);
        }
    }
}

.OutlineButtonContainer {
    border: 1px solid rgb(var(--button-text-color));
}

.FilledButtonContainer {
    border: 1px solid rgb(var(--button-background-color));
}