.Chip {
    padding: .25rem .5rem;
    border-radius: var(--size-border-radius);
    
    transition: all var(--transition-short);
    background-color: rgb(var(--chip-color) / .2);
    &:hover {
        background-color: rgb(var(--chip-color) / .4);
        text-decoration: underline;
    }
}

.ChipContainer {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: var(--spacing-paragraph);
    gap: .5rem;
}