---
import type { HTMLAttributes } from "astro/types";
import { themeVars, type ColorVariation } from "@/lib/theme";

type ChipColorVariation = Exclude<ColorVariation, "default">;

interface Props extends HTMLAttributes<"div"> {
  color?: ChipColorVariation;
}

const { color = "secondary", class: className, ...others } = Astro.props;
const chipColor = themeVars.color[color].foreground;
---

<style define:vars={{ "chip-color": chipColor }}>
  .Chip {
    padding: 0.25rem 0.5rem;
    border-radius: var(--size-border-radius);

    transition: all var(--transition-short);
    background-color: rgb(var(--chip-color) / 0.2);
    &:hover {
      background-color: rgb(var(--chip-color) / 0.4);
      text-decoration: underline;
    }
  }
</style>

<div class:list={["Chip", className]} {...others}>
  <slot />
</div>
