.FullWidthContainer {
    padding-left: calc(2rem);
    padding-right: calc(2rem);
    overflow-x: visible;
    width: 100%;
    box-sizing: border-box;
        
    @media(--larger-than-xs) {
        padding-left: var(--spacing-group);
        padding-right: var(--spacing-group);
    }
}

