---
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<'div'>{
    columns: number,
    minColumns?: number,
};

const { columns, minColumns = 1, class: className, ...others } = Astro.props;
---

<style define:vars={{"grid-columns": columns, "grid-columns-min": minColumns}}>
.Grid {
    grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
    display: grid;
    column-gap: var(--spacing-paragraph);
    row-gap: var(--spacing-paragraph);
    position: relative;
    
    @media(--smaller-than-md) {
        grid-template-columns: repeat(var(--grid-columns-min), minmax(0, 1fr));
    }
}
</style>

<div class:list={["Grid", className]} {...others}>
    <slot/>
</div>