.Grid {
    grid-template-columns: repeat(var(--grid-columns-count), minmax(0, 1fr));
    display: grid;
    column-gap: var(--spacing-paragraph);
    row-gap: var(--spacing-paragraph);
    position: relative;
    
    @media(--smaller-than-md) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
