.HeadingWithTag {
    &::before {
        content: "#"; 
        position: absolute;
        transform: translateX(-145%);
        transition: opacity var(--transition-short);
        opacity: 0;
    }
    &:hover::before {
        opacity: 0.3;
    }
}