---
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...others } = Astro.props;
---

<div class:list={["SlideUpContainer", className]} {...others}>
    <slot />
</div>

<style>
    @keyframes SlideUpEffect {
        from {
            transform: translateY(min(100%, 18rem));
            clip-path: inset(0 0 min(100%, 18rem) 0);            
        }
        to {
            transform: none;
            clip-path: inset(0);
        }
    }

    :global(.SlideUpContainer) {
        animation: SlideUpEffect var(--transition-long)
            cubic-bezier(0.75, 0, 0.25, 1);
        clip-path: inset(0);
        animation-play-state: paused;
        &[data-entered="true"] {
            animation-play-state: running;
        }
    }
</style>

<script>
    const containers = document.getElementsByClassName("SlideUpContainer");
    const ob = new IntersectionObserver((entries, observer) => {
        for (const entry of entries) {
            if (entry.isIntersecting) {
                entry.target.setAttribute("data-entered", "true");
                observer.unobserve(entry.target);
            }
        }
    },
    {
        threshold: 0
    });
    for (const container of containers) {
        ob.observe(container);
    }
</script>
