.TypographyBase {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    text-wrap: wrap;
}

.TypographyH1 {
    font-family: var(--typography-h1-fontFamily);
    font-size: var(--typography-h1-fontSize);
    font-weight: var(--typography-h1-fontWeight);
    line-height: var(--typography-h1-lineHeight);
}

.TypographyH2 {
    font-family: var(--typography-h2-fontFamily);
    font-size: var(--typography-h2-fontSize);
    font-weight: var(--typography-h2-fontWeight);
    line-height: var(--typography-h2-lineHeight);
}

.TypographyH3 {
    font-family: var(--typography-h3-fontFamily);
    font-size: var(--typography-h3-fontSize);
    font-weight: var(--typography-h3-fontWeight);
    line-height: var(--typography-h3-lineHeight);
}

.TypographyH4 {
    font-family: var(--typography-h4-fontFamily);
    font-size: var(--typography-h4-fontSize);
    font-weight: var(--typography-h4-fontWeight);
    line-height: var(--typography-h4-lineHeight);
}

.TypographyH5 {
    font-family: var(--typography-h5-fontFamily);
    font-size: var(--typography-h5-fontSize);
    font-weight: var(--typography-h5-fontWeight);
    line-height: var(--typography-h5-lineHeight);
}

.TypographyH6 {
    font-family: var(--typography-h6-fontFamily);
    font-size: var(--typography-h6-fontSize);
    font-weight: var(--typography-h6-fontWeight);
    line-height: var(--typography-h6-lineHeight);
}

.TypographyBody1 {
    font-family: var(--typography-body1-fontFamily);
    font-size: var(--typography-body1-fontSize);
    font-weight: var(--typography-body1-fontWeight);
    line-height: var(--typography-body1-lineHeight);
}

.TypographyBody2 {
    font-family: var(--typography-body2-fontFamily);
    font-size: var(--typography-body2-fontSize);
    font-weight: var(--typography-body2-fontWeight);
    line-height: var(--typography-body2-lineHeight);
}

.TypographyButton {
    font-family: var(--typography-button-fontFamily);
    font-size: var(--typography-button-fontSize);
    font-weight: var(--typography-button-fontWeight);
    line-height: var(--typography-button-lineHeight);
}